.header-wrapper
{
    padding: 1em 1em 0 1em;
    background: rgba(36, 36, 36, 1);
    font-size: 26px;
}

.site-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .logo
{
    color: #fff;
}

.navbar ul
{
    display: flex;
    gap: 2em;
    list-style-type: none;
}

.navbar ul a{
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in;
}

.navbar ul li:not(:last-child) a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.navbar ul li:not(:last-child) a:hover::after {
    transform: scaleX(1);
    background-color: #fff;
}

.navbar ul a:hover
{
    color: rgb(23, 168, 95);
}

.contact-button
{
    background: rgb(23, 168, 95);
    padding: 0.3em;
    border-radius: 0.3em;
}

.contact-button:hover
{
    background: rgb(255, 255, 255);
}
