@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

html{
    font: 12px/1.5 "Agdasima", sans-serif;
}

body, input, textarea{
    font: inherit;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 {font-size: 2.8em;}
h2 {font-size: 2.8em;}
h3 {font-size: 2.8em;}
h4 {font-size: 2.8em;}
h5 {font-size: 2.8em;}
h6 {font-size: 2.8em;}
